* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: darkblue;
}

h1 {
  font-size: 32px;
}

body {
  min-height: 100vh;
  background-color: aliceblue;
}

.body {
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fulwidth {
  padding: 0;
}

.header {
  padding: 2% 2%;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

.header .logo {
  width: 100px;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('Вариативная часть 09.02.07 от Царицыно/Медиа/9.jpg');
  background-position: center 30%;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form {
  margin: 100px;
  padding: 50px;
  background: rgba(228, 243, 255, .9);
  border-radius: 10px;
}

.form * {
  margin: 10px 0;
  padding: 5px;
}

button {
  width: 100%;
  border-radius: 10px;
  border: none;
  color: aliceblue;
  background: #007bff;
  line-height: 40px;
}

button:hover {
  background: #4aa2ff;
}